.nav-item-cust {
  padding-left: 50px;
  font-family: courier;
}

/*.nav-item-cust {*/
  /*float: none;*/
  /*display: inline-block;*/
/*}*/

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-brand {
  font-family: courier;
}

/*.collapse navbar-collapse {*/

/*}*/

/*#navfix0 {*/
  /*margin-left: 5em;*/
/*}*/

/*#navfix1 {*/
  /*margin-left: 10em;*/
/*}*/

/*.navbar {*/
/*margin-bottom: 0px;*/
/*}*/
