<div class="card text-center">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>The University is committed to good governance and conducts its affairs in a responsible and transparent way,
        taking into account the requirements of the Higher Education Code of Governance, and the Seven Principles
        identified by the Nolan Committee on Standards in Public Life, which are selflessness, integrity, objectivity,
        accountability, openness, honesty and leadership.</p>
      <footer class="blockquote-footer">Andrew Peliza</footer>
    </blockquote>
  </div>
</div>
