#postbtn {
  margin-bottom: 2em;
}

.container {
  text-align: center;
  padding-top: 2em;
}

.input-group {
  padding-bottom: 1em;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
