<div class="container">
  <p> Your courses will be shown here </p>

  <p> {{ aWeb.getAllInfo() }}</p>

  <form name="myForm" ng-submit="">
    <input ng-model='file' type="file" class="inputfile" data-multiple-caption="{count} files selected" multiple/>
    <input class="btn btn-light" type="submit" value="Upload Files">
  </form>

  <hr>

  <!--<input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple/>-->
  <!--<label for="file">Choose a file</label>-->


  <!--<div id="hide" class="col-lg-8 col-xs-8">-->
  <!--<label class="hand-cursor">-->
  <!--<input ng-model='file' type="file"/>-->
  <!--<i class="fas fa-upload"></i>-->
  <!--</label>-->
  <!--</div>-->

  <!--<hr>-->
  <!--<div id="upload_button">-->
  <!--<label>-->
  <!--<input type="file" ngf-select ng-model="new_files" ng-change="fs.uploadFiles(new_files)" multiple>-->
  <!--<span class="btn btn-primary">Upload files</span>-->
  <!--</label>-->
  <!--</div>-->
  <!--</div>-->

